@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* width: 12px;
    background: transparent; */
    display: none;
}
/* html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar-thumb {
    background-color: #34d399;
    border-radius: 8px;
    border: 3px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #10b981;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-track:hover {
    background-color: #e5e5e5;
}

div {
    scrollbar-width: thin;
    scrollbar-color: #34d399 transparent;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;

    }
} */